<!-- Overlay modale -->
<div class="fixed inset-0 bg-gray-400/50 flex items-center justify-center z-50 px-4">

  <!-- Modale -->
  <div class="bg-white rounded-2xl shadow-xl w-full max-w-lg p-8">

    <!-- En-tête -->
    <div class="flex items-start justify-between mb-6">
      <div class="flex items-center gap-3">
        <div class="bg-blue-50 rounded-xl p-2.5">
          <i class="fa-solid fa-box text-blue-600 text-lg"></i>
        </div>
        <div>
          @if(product !== null){
            <h2 class="text-lg font-semibold text-gray-800">Modifier les informations de ce produit</h2>
            <p class="text-sm text-gray-400">Saisissez les nouvelles informations de votre article alimentaire.</p>
          } @else {
            <h2 class="text-lg font-semibold text-gray-800">Ajouter un produit</h2>
            <p class="text-sm text-gray-400">Saisissez les informations de votre nouvel article alimentaire.</p>
          }

        </div>
      </div>
      <button class="text-gray-400 hover:text-gray-600 transition" aria-label="Fermer" (click)="fermer.emit()">
        <i class="fa-solid fa-xmark text-lg"></i>
      </button>
    </div>

    <!-- Formulaire -->
    <form class="space-y-5" [formGroup]="form" (ngSubmit)="onSubmit()">

      <!-- Nom du produit -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Nom du produit
        </label>
        <input
          [class.input-error]="nom?.invalid && nom?.touched"
          type="text"
          formControlName="nom"
          placeholder="ex: Pommes Gala Bio"
          class="w-full border border-gray-300 rounded-lg px-4 py-2.5 text-sm text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition"
        />
        <p class="text-xs text-gray-400 mt-1">Le nom complet de l'article pour faciliter la recherche.</p>
        @if (nom?.invalid && nom?.touched) {
          <p class="form-error-message">
          <i class="fa-solid fa-circle-exclamation"></i>
          Le nom est obligatoire
        </p>
        }

      </div>

      <!-- Quantité -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Quantité
        </label>
        <input
          [class.input-error]="quantite?.invalid && quantite?.touched"
          type="number"
          formControlName="quantite"
          placeholder="0"
          class="w-full border border-gray-300 rounded-lg px-4 py-2.5 text-sm text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-400 focus:border-transparent transition"
        />

        @if (quantite?.invalid && quantite?.touched) {
          <p class="form-error-message">
            <i class="fa-solid fa-circle-exclamation"></i>
            La quantité doit être supérieure à 0
          </p>
        }
      </div>

      <!-- Entrepôt de stockage -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">
          Entrepôt de stockage
        </label>
        <select formControlName="warehouse"
          [class.input-error]="warehouse?.invalid && warehouse?.touched"
          class="w-full border border-gray-300 rounded-lg px-4 py-2.5 text-sm text-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition appearance-none bg-white"
        >
          <option value="0" disabled >Sélectionner un entrepôt...</option>
          @for (warehouse of warehouses(); track warehouse.id){
            <option [value]="warehouse.id"> {{warehouse.nom}} </option>
          }
        </select>
        @if (warehouse?.invalid && warehouse?.touched) {
          <p class="form-error-message">
            <i class="fa-solid fa-circle-exclamation"></i>
            Veuillez sélectionner un entrepôt.
          </p>
        }

      </div>

      <!-- Date d'expiration + État initial -->
      <div class="grid grid-cols-2 gap-4">

        <!-- Date d'expiration -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">
            Date d'expiration
          </label>
          <div class="relative">
            <input
              [class.input-error]="date_expiration?.invalid && date_expiration?.touched"
              type="date"
              formControlName="date_expiration"
              class="w-full border border-gray-300 rounded-lg px-4 py-2.5 text-sm text-gray-700 placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition pr-10"
            />
            @if (date_expiration?.invalid && date_expiration?.touched) {
              <p class="form-error-message">
                <i class="fa-solid fa-circle-exclamation"></i>
                Veuillez renseigner la date
              </p>
            }
          </div>
        </div>

        <!-- État initial -->
        <div>
          <label class="block text-sm font-medium text-gray-700 mb-1">

            État initial
          </label>
          <div class="relative">
            <select formControlName="etat"
              class="w-full border border-gray-300 rounded-lg px-4 py-2.5 text-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition appearance-none bg-white"
            >
               <option value="disponible" class="text-green-600">disponible</option>
              <option value="reserve">reserve</option>
              <option value="perime">perime</option>
            </select>
            <i class="fa-solid fa-chevron-down absolute right-3 top-1/2 -translate-y-1/2 text-gray-400 text-xs pointer-events-none"></i>
          </div>
        </div>

      </div>



      <!-- Actions -->
      <div class="flex items-center justify-end gap-3 pt-2">
        <button
          type="button" (click)="fermer.emit()"
          class="px-5 py-2.5 text-sm font-medium text-gray-700 bg-white border border-gray-200 rounded-lg hover:bg-gray-50 transition"
        >
          Annuler
        </button>
        <button
          type="submit"
          [disabled]="form.invalid"
          class="flex items-center gap-2 px-5 py-2.5 text-sm font-medium text-white
           bg-blue-600 rounded-lg hover:bg-blue-700 transition disabled:opacity-50 disabled:cursor-not-allowed"
        >
          <i class="fa-solid fa-plus"></i>
          @if (product !== null) {
            modifier
          } @else {
            Enregistrer
          }

        </button>
      </div>

    </form>

  </div>

</div>
