<!-- Modale warehouse-form (visible si showForm est true) -->
@if (showForm) {

  <app-warehouse-form (fermer)="closeForm()" />
 }
<!-- Page Gestion des Entrepôts -->
<div class="space-y-6">

  <!-- En-tête -->
  <div class="flex items-center justify-between">
    <div>
      <h1 class="text-2xl font-bold text-gray-800">Gestion des Entrepôts</h1>
      <p class="text-sm text-gray-500 mt-0.5">Supervisez vos unités de stockage et optimisez l'espace disponible.</p>
    </div>
    <button (click)="showForm = true"class="flex items-center gap-2 px-4 py-2 text-sm font-medium text-white bg-blue-600 rounded-lg hover:bg-blue-700 transition " >
      <i class="fa-solid fa-plus"></i>
      Ajouter un entrepôt
    </button>
  </div>

  <!-- Barre de recherche + Filtres -->
  <div class="flex items-center justify-between bg-white border border-gray-200 rounded-xl px-4 py-3">
    <div class="relative w-80">
      <i class="fa-solid fa-magnifying-glass absolute left-3 top-1/2 -translate-y-1/2 text-gray-400 text-sm"></i>
      <input
        type="text"
        [(ngModel)]="searchTerm"
        placeholder="Rechercher un entrepôt..."
        class="w-full pl-9 pr-4 py-2 text-sm text-gray-700 bg-gray-50 border border-gray-200 rounded-lg placeholder-gray-400 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-transparent transition"
      />
    </div>

  </div>

  <!-- Grille de cards -->
  <div class="grid grid-cols-3 gap-5">

    @for (warehouse of filterWarehouse(); track warehouse.id){
      <app-warehouse-card
      [id]="warehouse.id"
      [nom]="warehouse.nom"
      [localisation]="warehouse.localisation"
      [capacite]="warehouse.capacite"
      [totalProduits]="totalProduits(warehouse.id)"
      />
    }
    @empty {
      <p>Aucun Entrepot trouve</p>
    }

    <!-- Card "Ajouter un entrepôt" -->
    <div class="bg-white rounded-xl border border-dashed border-gray-300 flex flex-col items-center justify-center gap-3 p-8 hover:border-blue-400 hover:bg-blue-50 transition cursor-pointer min-h-[220px]">
      <div class="w-10 h-10 rounded-full border-2 border-gray-300 flex items-center justify-center text-gray-400 hover:border-blue-400 hover:text-blue-500 transition" (click)="showForm = true">
        <i class="fa-solid fa-plus"></i>
      </div>
      <div class="text-center">
        <p class="text-sm font-medium text-gray-600">Ajouter un entrepôt</p>
        <p class="text-xs text-gray-400 mt-1">Configurez une nouvelle unité de stockage dans votre réseau.</p>
      </div>
    </div>

  </div>

</div>

